.env
__pycache__/
*.pyc
.venv/

# Ignore all testing database binaries but keep the root folder layout
chroma_db/**
!chroma_db/

# Ignore all uploaded test PDF files but keep the folder layout
uploads/**
!uploads/