streamlit==1.31.0

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq==0.1.9

chromadb==0.4.22
pypdf==3.17.4

sentence-transformers==2.3.1
rank-bm25==0.2.2

requests==2.31.0
beautifulsoup4==4.12.3
validators==0.22.0

groq
python-dotenv